body{
    background-position: center;
    background-size: cover;
    text-align: center;
}
canvas{
    border-style: ridge;
    background-color: white;
    border-width:10px;
}
h2{
    font-variant: small-caps;
    font-size: 40px;
    margin-top: -20px;
}